:root {
    --dark-bg: #191718;
    --size-h-img: 200px;
    --size-w-img: 150px;
}

html{
    scroll-behavior: smooth;
}

*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.app {
    display: none;
}

body{
    margin: 0;
    padding: 0;
}

.app {
    display: flex;
}

/* Sidebar */
.sidebar {
    background-color: var(--dark-bg);
}

.sidebar__item {
    width: 150px;
    height: 44px;   
}

.sidebar__item.active > .title {
    color: #fff;
}

.sidebar__item:hover {
    background-color: #5C5C5C;
    transition: all 0.2s ease-in;
}
.sidebar__item:hover > .title {
    color: #fff;
    transition: all 0.3s ease-in;
}

.title {
    margin: 0;
    padding: 11px 16px;
    width: 100%;
    height: 19px;
    left: 16px;
    top: 14px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    color: #AAAAAA;
    cursor: pointer;
}

/* container */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 129px;
}

.container__logo {
    padding-top: 20px;
    padding-bottom: 30px;
    text-align: center;
}

.container__paragram {
    text-align: center;
    background-color: #EFEFEF;
}

.container__paragram > .title { 
    padding: 0;
    margin-top: 38px;
    margin-bottom: 18px;
    color: #000000;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
}

.container__paragram > .description {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #000000;
    line-height: 19px;
    margin: 0 129px 38px;
}

.container__courses {
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 0 -25px;
    padding-bottom: 182px;
}

.course {
    flex-grow: 1;
}

.course__paragraph_one {
    display: flex;

}

.course__paragraph_one > img {
    min-width: var(--size-w-img);
    height: auto;
}

.course__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
}

.course__description {
    margin-left: 25px;
}

.course__description, .course__paragraph_two {
    margin: 0;
    font-size: 16px;
}

.course {
    margin: 0 25px;
}

.footer > h2 {
    margin: 30px 0;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #3E3E3E;

}